
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Try</title>
    <link href="~/javaScript/bootstrap.css" rel="stylesheet" />
    <script src="~/javaScript/bootstrap.min.js"></script>

</head>
<body>
    <form method="post" action="/SalaryGrant/TryInfo">
        <input type="email" name="email" placeholder="输入您的邮箱号"/><br />
        <input type="text" placeholder="请输入主题" name="zt"/><br />
        <input type="text" placeholder="请输入内容" name="nr" style="width:300px;height:202px"/><br />
        <input type="submit" value="发送邮件"/>
    </form>
</body>
</html>
